*{
  box-sizing: border-box;
  text-align: center;
  background-color: lightblue;
}

h1{
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0px;
}

.turnIndicator{
  font-family: 'Pangolin', cursive;
  font-size: 25px;
  margin-top: 0px;
}

.placeShipsWarn{
  font-family: 'Pangolin', cursive;
  font-size: 15px;
}

.boardName{
  display: inline-block;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  margin-top: 0px;
}

#playerBoardName{
  padding-right: 30px;
  margin-right: 15px;
}

#aiBoardName{
  padding-left: 165px;
  margin-right: 25px;
}

.boardContainer {
  display: flex;
  margin-bottom: 15px;
  gap: 40px;
  justify-content: center;
}

.board {
  display: grid;
  border: 2px solid black;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.square {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}

.isShip {
  background-color: black;
  border: 1px solid darkgrey;
}

.shipContainer {
  display: flex;
  gap: 5px;
  justify-content: first baseline;
  margin-left: 105px;
  margin-top: 20px;
  width: 550px;
  height: 60px;
  background-color: lightgreen;
  border-radius: 20px;
}

.shipUsed {
  background-color: black;
  border: 3px solid darkgray;
  cursor: move;
  margin: auto;
}

#ship1 {
  width: 60px;
  height: 30px;
  background-color: crimson;
}

#ship2 {
  width: 90px;
  height: 30px;
  background-color: darkgoldenrod;

}

#ship3 {
  width: 120px;
  height: 30px;
  background-color: indigo;
}

#ship4 {
  width: 150px;
  height: 30px;
  background-color: coral;
}

.rotateBtn{
  font-size: 15px;
  color: black;
  background-color: #FFD700;
  padding: 5px 10px;
  border-color: #DAA520;
  font-weight: 500;
  border-radius: 10px;
  transition-duration: 300ms;
  height: 30px;
  margin: auto;
}

.startBtn{
  margin-right: 20px;
  margin-top: 20px;
  font-size: 15px;
  color: black;
  background-color: #FFD700;
  padding: 10px 20px;
  border-color: #DAA520;
  font-weight: 500;
  border-radius: 20px;
  transition-duration: 300ms;
}

.restartBtn{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
  color: black;
  background-color: #FFD700;
  padding: 10px 20px;
  border-color: #DAA520;
  font-weight: 500;
  border-radius: 20px;
  transition-duration: 300ms;
}

.dragHover {
  border: dashed 3px blue;
}

button{
  font-family: 'Pangolin', cursive;
}

button:hover{
  transform: translateY(-4px);
  cursor: pointer;
}

.miss{
  font-size: 30px;
  color: orange;
  background-color: blue;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.hit{
  font-size: 30px;
  color: orange;
  background-color: blue;
  font-weight: 500;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
